Tabs {
    border: none;
    height:1;
    background: $panel;
}
Tab.-active {
    background: $primary;
    color: $text
}
Tabs > Underline {
    display: none;
}
TabPane {
  height: 1fr;
}
Underline > .underline--bar {
    color: transparent;
    background: transparent;
}

Tabs:focus .underline--bar {
    background: transparent;
}

VimDataTable {
    width: auto;
    padding: 0;
    margin: 0;
}

InspectRowPopup {
    align: center middle;
    background: transparent;
}
InspectRowPopup > VimDataTable {
    min-width: 50;
    max-width: 800;
    height: auto;
    border: heavy $primary;
    padding: 0 0;
    align: center middle;
    overflow:hidden;
}

TracksDataTable {
    width: 1fr;
    height: 1fr;
}
TracksDataTable > Vertical > Horizontal {
    height: 1;
}
TracksDataTable > Vertical > Horizontal > Input {
    width: 1fr;
}
#tracks-sort-button, #tracks-addto-button {
    width: 8;
    max-width: 8;
}

SortTracksPopup {
    align: center middle;
    background: transparent;
}

SortTracksPopup > VimDataTable {
    width: 35;
    height: auto;
    border: heavy $primary;
    padding: 0 0;
    align: center middle;
    overflow:hidden;
}

AddToPopup {
    align: center middle;
    background: transparent;
}
AddToPopup > VimDataTable {
    width: 30;
    height: auto;
    border: heavy $primary;
    padding: 0 0;
    align: center middle;
    overflow:hidden;
}
ToastRack {
  dock: top;
  align: right top;      /* was 'left top' */
  margin: 0;
  overflow-y: hidden;    /* removes the reserved scrollbar column */
}
Toast {
    padding: 0;
    margin: 0;
    width: auto;
    max-width: 300;
    background: $background;
}

